<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper.TDormMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.pojo.TDorm" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="louhao" property="louhao" jdbcType="VARCHAR" />
    <result column="sushehao" property="sushehao" jdbcType="VARCHAR" />
    <result column="rongliang" property="rongliang" jdbcType="VARCHAR" />
    <result column="dangqianrenshu" property="dangqianrenshu" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, louhao, sushehao, rongliang, dangqianrenshu
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ssm.pojo.TDormExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dorm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dorm
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dorm
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ssm.pojo.TDormExample" >
    delete from t_dorm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ssm.pojo.TDorm" >
    insert into t_dorm (id, louhao, sushehao, 
      rongliang, dangqianrenshu)
    values (#{id,jdbcType=INTEGER}, #{louhao,jdbcType=VARCHAR}, #{sushehao,jdbcType=VARCHAR}, 
      #{rongliang,jdbcType=VARCHAR}, #{dangqianrenshu,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.pojo.TDorm" >
    insert into t_dorm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="louhao != null" >
        louhao,
      </if>
      <if test="sushehao != null" >
        sushehao,
      </if>
      <if test="rongliang != null" >
        rongliang,
      </if>
      <if test="dangqianrenshu != null" >
        dangqianrenshu,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="louhao != null" >
        #{louhao,jdbcType=VARCHAR},
      </if>
      <if test="sushehao != null" >
        #{sushehao,jdbcType=VARCHAR},
      </if>
      <if test="rongliang != null" >
        #{rongliang,jdbcType=VARCHAR},
      </if>
      <if test="dangqianrenshu != null" >
        #{dangqianrenshu,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ssm.pojo.TDormExample" resultType="java.lang.Integer" >
    select count(*) from t_dorm
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dorm
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.louhao != null" >
        louhao = #{record.louhao,jdbcType=VARCHAR},
      </if>
      <if test="record.sushehao != null" >
        sushehao = #{record.sushehao,jdbcType=VARCHAR},
      </if>
      <if test="record.rongliang != null" >
        rongliang = #{record.rongliang,jdbcType=VARCHAR},
      </if>
      <if test="record.dangqianrenshu != null" >
        dangqianrenshu = #{record.dangqianrenshu,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dorm
    set id = #{record.id,jdbcType=INTEGER},
      louhao = #{record.louhao,jdbcType=VARCHAR},
      sushehao = #{record.sushehao,jdbcType=VARCHAR},
      rongliang = #{record.rongliang,jdbcType=VARCHAR},
      dangqianrenshu = #{record.dangqianrenshu,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.pojo.TDorm" >
    update t_dorm
    <set >
      <if test="louhao != null" >
        louhao = #{louhao,jdbcType=VARCHAR},
      </if>
      <if test="sushehao != null" >
        sushehao = #{sushehao,jdbcType=VARCHAR},
      </if>
      <if test="rongliang != null" >
        rongliang = #{rongliang,jdbcType=VARCHAR},
      </if>
      <if test="dangqianrenshu != null" >
        dangqianrenshu = #{dangqianrenshu,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.pojo.TDorm" >
    update t_dorm
    set louhao = #{louhao,jdbcType=VARCHAR},
      sushehao = #{sushehao,jdbcType=VARCHAR},
      rongliang = #{rongliang,jdbcType=VARCHAR},
      dangqianrenshu = #{dangqianrenshu,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>